html {
    height: 100%
}

body {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

.footer {
    margin-top: 2rem;
    position: relative;
    top: -5%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: #1a1a1a;
    font-weight: bold;
    font-family: monospace;
}

main {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 512px;
    height: 512px;
    border: 2px solid black;
}

.item {
    border: 1px solid black;
    width: 100%;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
}

.painted {
    background-color: black;
}